@postcss-material-colors (primary: #a52a2a, variant: vibrant);

:root {
  --animation-pulse: 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

html {
  color-scheme: dark light;
  accent-color: var(--primary);
}

* {
  box-sizing: border-box;
}

ul[role="list"] {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 32px auto;
  padding: 0 1rem;
  max-width: 720px;
  background-color: var(--background);
  color: var(--on-background);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button,
input,
textarea,
select {
  padding: 8px 20px;
  font: inherit;
  min-width: 0;
  width: fit-content;
}

button {
  border: none;
  background-color: var(--surface-container-high);
  border-radius: 4px;
  &:hover,
  &.hover {
    opacity: 0.8;
  }
  &:active {
    transform: scale(0.95);
  }
}

a {
  color: var(--primary);
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 6px;
  &:hover {
    text-decoration: underline;
  }
  &.active {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 1rem;
}

dialog {
  border: none;
  background-color: var(--surface-container);
  color: var(--on-surface);
}

:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.primary {
  background-color: var(--primary);
  color: var(--on-primary);
}

.error-text {
  color: var(--error);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
